* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


.container {
  min-height: 50px;
}


/* navbar top */
.navbar-top {
  background-color: #f2f2f2;
}

.content-left, .content-right {
  line-height: 50px;
}

.content-left a:first-child {
  margin-right: 20px;
  color: black;
}

.content-right {
  text-align: right;
}

.content-right a:first-child {
  margin-right: 20px;
}

.content-left a, .content-right a {
  text-decoration: none;
  color: grey;
}

/* INIZIO navbar main */

.content-navbar-main::after {
  content: "";
  display: table;
  clear: both;
}

.navbar-main .content-navbar-main .logo, .navbar-main .content-navbar-main .navbar-main-right {
  width: 20%;
  float: left;
}

.navbar-main .content-navbar-main .navbar-main-center{
  width: 60%;
  float: left;
}

.content-navbar-main .logo {
  line-height: 80px;
}

.content-navbar-main .logo a {
  color: black;
  text-decoration: none;
}

.navbar-main-center {
  line-height: 80px;
}

.navbar-main-center ul li {
  display: inline-block;
  list-style: none;
  padding-right: 30px;
  position: relative;
}

.navbar-main-center ul li a {
  color: grey;
  text-decoration: none;
  transition: 0.25s;
}

.navbar-main-center ul li > a:hover {
  color: black;
}

.navbar-main-right {
  text-align: right;
  line-height: 80px;
}



#button {
  text-decoration: none;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  color: #fff;
  transition: 0.25s;
}

#button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#menu-icon {
  display: none;
}


/* menu a tendina */
.navbar-main-center .dropdown {
  position: absolute;
  top: 65px;
  left: -10px;
  width: 215px;
  min-height: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px grey;
  line-height: normal;
  display: none;
}

.dropdown.investimenti {
  width: 300px;
}

.dropdown.controllo {
  width: 150px;
}

.dropdown.altro {
  width: 230px;
}

.dropdown.plans {
  width: 150px;
}

.navbar-main-center .dropdown a {
  display: block;
  padding: 20px;
  transition: 0.25s;
}

.navbar-main-center .dropdown a:hover {
  color: black;
}
/* // */

/* hamburger menu */
.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  display: none;
  z-index: 3;
  margin-bottom: 80px;
}


.hamburger-menu .h-menu-top {
  height: 80px;
  background-color: #f2f2f2;
  line-height: 80px;
  padding-left: 30px;
}

.hamburger-menu .h-menu-top a {
  text-decoration: none;
  color: grey;
}

.hamburger-menu .h-menu-top a:first-child {
  color: black;
  margin-right: 20px;
}

.hamburger-menu .h-menu-top a:last-child {
  float: right;
  font-size: 20px;
  padding-right: 30px;
  color: black;
}

.hamburger-menu ul li {
  list-style: none;
  padding: 15px 0;
}

.hamburger-menu ul li a {
  text-decoration: none;
  color: grey;
  font-size: 18px;
  width: 100%;
  display: inline-block;
  transition: 0.25s;
}

.hamburger-menu ul li a:hover {
  color: black;
}

.hamburger-menu ul li a.main-link::after {
  content: "\22C1";
  float: right;
}


.hamburger-menu .dropdown-hamburger ul li a {
  font-size: 16px;
}

.hamburger-menu .dropdown-hamburger {
  display: none;
}

.hamburger-link-top, .hamburger-link-down {
  padding: 40px;
}


.hamburger-menu .line-break {
  border-top: 1px solid grey;
  width: 92%;
  height: 1px;
  margin: auto;
}

/* // */

/* inizio jumbotron */
.jumbo-left {
  padding: 90px 0;
}

.jumbo-left h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.jumbo-left p {
  margin-bottom: 30px;
}

.jumbo-left select, .jumbo-left input {
  border: none;
  border-bottom: 1px solid grey;
  font-size: 18px;
}

.jumbo-left select {
  margin-right: 10px;
}

.jumbo-left #start-btn {
  text-decoration: none;
  padding: 15px 25px;;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  transition: 0.25s;
}

.jumbo-left #start-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.jumbo-left > a {
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.jumbo-left > a i {
  margin-right: 10px;
}

.jumbo-right img {
  width: 80%;
  height: auto;
}

.title-xs {
  text-align: center;
  display: none;
  margin-bottom: 80px;
}

.button-xs {
  height: 80px;
  text-align: center;
  margin-top: 50px;
  box-shadow: 2px 2px 10px grey;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.button-xs a {
  line-height: 80px;
}

/* mediaquery */
@media screen and (max-width: 768px) {
  .navbar-main-center, .navbar-main-right {
    display: none;
  }

  .navbar-top {
    display: none;
  }

  #menu-icon {
    display: block;
    color: black;
    padding-right: 30px;
    font-size: 20px;
    text-align: right;
    line-height: 80px;
    float: left;
    width: 80%;
  }

  .logo {
    padding-left: 30px;
  }

  .hamburger-menu.active {
    display: block;
  }

  .jumbo-left, .jumbo-right {
    text-align: center;
  }

  .jumbo-left {
    padding: 90px 40px;
  }

  .jumbo-left h1 {
    font-size: 40px;
  }

  .jumbo-right img {
    width: 60%;
  }

  .title-xs, .button-xs {
    display: block;
  }

  .jumbo-left form, .jumbo-left > a {
    display: none;
  }

  .jumbo-left.none, .jumbo-right.none {
    display: none;
  }

}
